<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>
<h1> <center> Hackwagon Academy: DS101 In-Class Practice Lesson 4</center></h1>
<h2> <center>Applied Iterations</center></h2>

<i> prepared by @jonchewyl </i>

<h2> Learning Objectives </h2>

1. Recap
2. While loops
2. Nested Loops
3. Applied Iterations
4. Counting With Dictionaries

In this chapter, we will use examples to recap the usage of basic iterations to manipulate data in a single list. We will then solve questions that requires us to apply the same concept to manipulate data in a nested list.

### References

### <center> Important Collections Functions </center>
### <center> Creation </center>
|Collection Type | Function | Examples |
| ---------|---------|---------|
| `list` | <center>None</center>| `new_list = []` <br><br> `new_list = [1,2,3,4]` |
| `dict` | <center>None</center>| `new_dict = {}` <br><br> `new_dict = {'a': 1, 'b':2}`|

### <center> Add / Appending Data </center>
|Collection Type | Functions | Examples | Resulting Output|
| ---------|---------|---------| ------ |
| `list` | <center>`.append()`</center>| `new_list = [1,2,3]` <br><br> `new_list.append(4)` | `[1,2,3,4]`|
| `list` | <center>`.extend()`</center>| `new_list = [1,2]` <br><br> `new_list.extend([3,4])` | `[1,2,3,4]`|
| `dict` | <center>None</center>| `new_dict = {}` <br><br> `new_dict['a'] = 1` <br><br> `new_dict['b'] = 2` | `{'a': 1, 'b':2}`|

### <center> Updating / Changing Data </center>
|Collection Type | Functions | Examples | Resulting Output|
| ---------|---------|---------| ------ |
| `list` | <center>None</center>| `new_list = [1,2,3]` <br><br> `new_list[0] = 5` | `[5,2,3]`|
| `dict` | <center>None</center>| `new_dict = {'a': 1, 'b':2}` <br><br> `new_dict['a'] = 10`| `{'a': 10, 'b':2}`|

### <center> Accessing / Taking Out Data </center>
|Collection Type | Functions | x to be| Examples |
| ---------|---------|---------| ------ |
| `list` | <center>None</center>| 3 |`new_list = [1,2,3]` <br><br> `x = new_list[2] `|
| `list of list` | <center>None</center>|3 |`new_list = [[1,2],[3,4]]` <br><br> `x = new_list[1][0] `|
| `list of dict` | <center>None</center>| 2 |`new_list = [{'a':1},{'b':2}]` <br><br> `x = new_list[1]['b'] `|
| `dict` | <center>None</center>| 2|`new_dict = {'a': 1, 'b':2}` <br><br> `x =

## Iterations Recap

<h3> CITU Framework </h3>

1. <b>Create</b> the results container
2. <b>Iterate</b> the input data/list
3. <b>Test</b> conditions of each value
4. <b>Update</b> the results container when condition is fulfilled

If we want to recreate the `sum()` function, we will do the following steps.

### Looping through lists

```python
for item in collections:
    ###action###
```
If collections have list type, each item is an item inside this list

In [ ]:
data = [3, -4, 12, 9, -72, 0, 15]
# Write code here

# 1. Create the result container
total = 0

# 2. Loop the data
for number in data:
    # 3. Test for condition
    # Nothing to test
    
    # 4. Update the results container
    # variable_to_update += value_to_add
    total += number

print(total)

### Looping through dictionaries

##### Normal looping
If collections have dictionary type, each item is a key in this dictionary (can call for values straight)
```python
for item in collections:
    ###action###
```


##### Looping with .items()
If collections have dictionary type, .items() is able to extract **both** the key, and value 
```python
for key,value in collections.items():
    ###action###
```

In [3]:
orders = {
    "Sashimi":  "Salmon",
    "Rolls": "Dragon Roll",
    "Mains": "Ramen",
} 

# Write code below

# Without .items()
for item in orders:
    print(item) #key
    print(orders[item]) #value
    
# With .items()
for key,value in orders.items():
    #print(key)
    print(value)

Sashimi
Salmon
Rolls
Dragon Roll
Mains
Ramen
Salmon
Dragon Roll
Ramen

<h3> Pseudocode </h3>
To solve complicated problems in the real world, before we even start coding, we start by thinking of the problem in the high-level perspective. Write our steps in what's called <b><i>Pseudocode</i></b>. This approach is very similar to the CITU framework.     

This approach is very often used by software engineers and data analyst when facing with difficult problems.

The key steps to pseudocode is:

1. Understand the problem
2. Breaking down big problems into smaller problems
3. Solving the smaller problems first
4. Fit all the smaller problems into one big solution

Let's take the following Fizz - Buzz - FizzBuzz question as an example...

<h4> Fizz Buzz FizzBuzz Question </h4>

1. Print numbers 1 to 50
2. If a number is a multiple of 3, print `Fizz`.
3. If a number is a multiple of 5, print `Buzz`.
4. If a number is a multiple of 3 and 5, print `FizzBuzz`.
5. Otherwise, print the number itself.


<b>Expected output:</b>
    
    1
    2
    Fizz
    4
    Buzz
    Fizz
    7
    8
    Fizz
    Buzz
    11
    Fizz
    13
    14
    FizzBuzz
    16
    17
    Fizz
    19
    Buzz
    Fizz
    22
    23
    Fizz
    Buzz
    26
    Fizz
    28
    29
    FizzBuzz
    31
    32
    Fizz
    34
    Buzz
    Fizz
    37
    38
    Fizz
    Buzz
    41
    Fizz
    43
    44
    FizzBuzz
    46
    47
    Fizz
    49
    Buzz

In [4]:
for number in range(1,51):
    if (number%5 == 0) and (number%3 == 0) :
        print('FizzBuzz')
    elif number%5 == 0:
        print('Buzz')
    elif number%3 == 0:
        print('Fizz')
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

## While Loops
While loops are another form of iterative device. They allow for an indefinite number of iterations until a certain condition is met.

The synax for while loops is as such:
<img src="https://i.imgur.com/ufp0PGF.png" width="500">

In [ ]:
#Simple example of while loop
while True:
    print(1)
    
#You can observe that as long as the condition is true, the action statement will always be executed

In [ ]:
#Simple example of while loop
while False:
    print(1)
    
#You can observe that as long as the condition is false, the action statement will never be executed

In order to stop a while loop, we need to change the <b>terminating condition</b>. Let's contextualise this with a roller coaster example.
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Battlestar_Galactica_Human_vs_Cylon_-_nested_tracks.jpg/1280px-Battlestar_Galactica_Human_vs_Cylon_-_nested_tracks.jpg" width="400">

Imagine when you're at USS and it's really packed. You want to take Battlestar Galactica, the worker will keep taking people in until there it reachs the limit of seats for the ride. Let's try this example here.

### Practice 1

#### Question 1
Print the numbers 10 to 1 using a `while` loop.

<b>Expected Output:</b>
    
    10
    9
    8
    7
    6
    5
    4
    3
    2
    1

In [6]:
# Write code below
x=11
while x > 1:
    x -= 1
    print(x)

10
9
8
7
6
5
4
3
2
1

#### Question 2 
Given `data`, print out al the video titles.

<b>Expected Output:</b>
    
    despacito
    see you again
    im yours

In [9]:
video_titles = ['despacito','see you again','im yours']

# Write code below
i = 0
while i < len(video_titles):
    print(video_titles[i])
    i +=1

despacito
see you again
im yours

## Nested Loops
With a single loop, you can only access one row of data. With a loop inside the outer loop, we can access every data within that row of data. This concept is called nested loops. 

Let's revisit our sushi restaurant scenario again. 

This time put yourself in the shoes of a kitchen and the waiter

- The outer for loop is the kitchen
- The inner for loop is the waiter

Here is your list of orders:
<img src="https://i.imgur.com/raZ1nvu.png" />

In [26]:
all_orders = [
    ['Soba','Sushi'],
    ['Dragon Roll','Ramen'],
    ['Beef Rice','Ice Cream']
]

#Write code below
for tray in all_orders:
    print('loop1')
    for food in tray:
        print('loop2')
        print(food)

loop1
loop2
Soba
loop2
Sushi
loop1
loop2
Dragon Roll
loop2
Ramen
loop1
loop2
Beef Rice
loop2
Ice Cream

### Practice 2
#### Question 1
Given the following `data`, print all the <b>positive</b> numbers:

**Expected Output:**
```
    3
    12
    9
    30
    4
    9
    3
    12
    9
    72
    15
    
```

In [29]:
data = [
    [3, -4, 12, 9, -72, 0, 30],
    [-5, 4, -20, 9, -42, 0, -15],
    [3, -4, 12, 9, 72, -25, 15],
]
#Write code below
for nested_lists in data:
    for number in nested_lists:
        if number > 0:
            print(number)

3
12
9
30
4
9
3
12
9
72
15

#### Question 2
Given the following `data`, collect all the negative numbers and put them in a new list called `negatives` :

**Expected Output:**
```
    [-4, -72, -5, -20, -42, -15, -4, -25]
```

In [30]:
data = [
    [3, -4, 12, 9, -72, 0, 30],
    [-5, 4, -20, 9, -42, 0, -15],
    [3, -4, 12, 9, 72, -25, 15],
]
#Write code 
negatives = []
for nested_lists in data:
    for number in nested_lists:
        if number <0:
            negatives.append(number)

negatives

[-4, -72, -5, -20, -42, -15, -4, -25]

## Applied Iterations
Let's try and apply what we have learnt in the past 3 lessons to a real dataset. The following [dataset](https://data.gov.sg/dataset/graduates-from-university-first-degree-courses-by-type-of-course?view_id=fa0e401c-6251-4a15-aebc-a5f3d2c85752&resource_id=eb8b932c-503c-41e7-b513-114cffbe2338) is from Singapore Government's Open Data Portal, Data.gov.sg. 

When opening the file in Microsoft Excel, it will look like this:

<img src="https://i.imgur.com/M05Ta23.png" width="400">

<b>Make sure that the data file is in the same folder as your Jupyter Notebook</b>


When we execute the codes below, we will get a <b>list of many lists</b>, where <b>one inner list is a row of data</b>, that looks like this
```python
   [
       [ # Row 0
           1993, # Year - Index 0
           'Males',  # Sex - Index 1
           'Education',  # Type of Course - Index 2
           0 # No of Graduates - Index 3
       ],
       [ # Row 1
           1993, # Year - Index 0
           'Males', # Sex - Index 1
           'Applied Arts',  # Type of Course - Index 2
            0 # No of Graduates - Index 3
       ],
       [ # Row 2
           1993, # Year  - Index 0
           'Males', # Sex - Index 1
           'Humanities & Social Sciences',  # Type of Course - Index 2
           481# No of Graduates - Index 3
       ]
   ]

```
Run the cell below, we will learn more about opening a file in Lesson 5/6.

In [31]:
import csv

with open('graduates-from-university-first-degree-courses-by-type-of-course.csv', encoding='utf-8') as file:
    #
    reader = csv.reader(file,delimiter=',')
    
    #skips column headers
    next(reader)
    
    #container to store all data
    all_courses = []
    
    # goes through every row
    for row in reader:
        # data cleaning 
        row[0] = int(row[0]) # Year Data is Cleaned to Int Type
        if row[3] == 'na': # Check for 'na'
            row[3] = 0
        else:
            row[3] = int(row[3]) # Change students to Int Type
        
        # add the row to the container
        all_courses.append(row)

# previews first 3 row    
all_courses[:3]

[[1993, 'Males', 'Education', 0],
 [1993, 'Males', 'Applied Arts', 0],
 [1993, 'Males', 'Humanities & Social Sciences', 481]]

Using what we've learnt over the past lessons, we're going to answer some basic questions about this dataset. For example:

**How many students applied for `Education` over the years?**

Based on this question, the variables we need are the type of course and no. of graduates


So the process for answering this question should be:

1. **Create** the result container
2. **Loop** the data to take out the 2 variables **(most important step)**
3. **Test** the variables to see if they fit the condition
4. **Update** the result container

In [32]:
# Write code here
student_num = 0
for row in all_courses:
    major = row[2]
    students = row[3]
    if major == 'Education':
        student_num += students

print(student_num)

6421

### Practice 3
#### Question 1
Based on the following `all_courses`, answer the following question:

<b>How many `Females` students have taken `Law`?</b>

<i>Hint
1. What variables do you need?
2. What do you have to test for?
</i>

<b> Expected Output: </b>

    2574

In [34]:
# Write code here
student_num = 0
for row in all_courses:
    gender = row[1]
    major = row[2]
    students = row[3]
    if gender == 'Females' and major == 'Law':
        student_num += students

print(student_num)

2574

#### Question 2
Based on the following `all_courses`, answer the following question:

<b>How many students have taken `Information Technology` between `2000` and `2014`?</b>

<i>Hint
1. What variables do you need?
2. What do you have to test for?
</i>

<b>Expected Output:</b>

    9084

In [37]:
# Write code here
student_num = 0
for row in all_courses:
    year = row[0]
    major = row[2]
    students = row[3]
    if year >= 2000 and year <= 2014:
        if major == 'Information Technology':
            student_num += students
print(student_num)

9084

## Counting With Dictionaries
**The following concept is extremely important**. The collections data types like List and Dictionaries helps us to store many values within a single data type. 

Dictionaries, however, provide us with the tools to aggregate data and store them. 

<img src="https://static.comicvine.com/uploads/original/9/91584/1960894-xzc.jpg">


Think of this concept like catching Pokemon on your PokeDex.
- When you've never seen that Pokemon before, your Pokedex will create a new entry. 
- When you caught it again, it adds to the count previous count that you've added before. 

Given this `caught`, to count the occurances of each letter, a dictionary would help us count each of these occurances.

**Expected Output:**
    
    {
        'Pikachu': 3,
        'Bulbasaur': 2,
        'Charmander': 1
    }

#### Recap - Dictionary Functions
##### Create & Update

In [42]:
#Create Dictionary
example_dict = {'key1': 'value1', 'key2': 'value2'}
example_dict['key3']= 'value3'
example_dict['key2']= 0
example_dict['key2']+= 1
print(example_dict)

{'key1': 'value1', 'key2': 1, 'key3': 'value3'}

In [43]:
caught = ['Pikachu','Bulbasaur','Pikachu','Pikachu','Bulbasaur','Charmander']
# Write code below
pokemons = {} #create container
for pokemon in caught:
    if pokemon in pokemons:
        pokemons[pokemon] += 1 #update to existing
    else:
        pokemons[pokemon] =1 #create to dictionary

print(pokemons)

{'Pikachu': 3, 'Bulbasaur': 2, 'Charmander': 1}

### Practice 4
#### Question 1
Here we have a dataset of employee information. Count the number of `student` and `teacher` that occur.

**Expected Output:**

    {
        'student': 3,
        'teacher': 2  
    }

In [50]:
data = [
    {'name': 'kt', 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    {'name': 'eli', 'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    {'name': 'vera', 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    {'name': 'may', 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    {'name': 'agnes', 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
]
#Write code below
population = {}
for row in data:
    occupation = row['occupation']
    if row['occupation'] == 'student':
        if occupation in population:
            population[occupation] += 1
        else:
            population[occupation] = 1
    if row['occupation'] == 'teacher':
        if occupation in population:
            population[occupation] += 1
        else:
            population[occupation] = 1        

print(population)

#OR
employee = {}
for item in data:
    occupation = item['occupation']
    if occupation in employee:
        employee[occupation] += 1
    else:
        employee[occupation] = 1
        
print(employee)

{'student': 3, 'teacher': 2}

#### Question 2
The 11-11 sales is coming, the ads are everywhere. Here we have a list of sales called `lazada_sales`, where each product (inner list): index 0 is the brand, index 1 is the sales made in a single day. <b> This question is very similar to what you will be facing in your YouTube lab exercise. </b>

Your task is to collate all the sales for each brand.

**Expected Output:**

    {
        'Adidas Superboost': 9,
        'Nike Zoom': 7,
        'Rolex Submariner': 4,
        'Rolex Daytona': 6
    }

In [53]:
lazada_sales = [
    ['Adidas Superboost', 1],
    ['Nike Zoom', 1],
    ['Nike Zoom', 2],
    ['Nike Zoom', 1],
    ['Nike Zoom', 1],
    ['Adidas Superboost', 2],
    ['Nike Zoom', 1],
    ['Adidas Superboost', 1],
    ['Nike Zoom', 1],
    ['Adidas Superboost', 1],
    ['Adidas Superboost', 1],
    ['Adidas Superboost', 3],
    ['Rolex Submariner', 1],
    ['Rolex Submariner', 2],
    ['Rolex Submariner', 1],
    ['Rolex Daytona', 2],
    ['Rolex Daytona', 1],
    ['Rolex Daytona', 2],
    ['Rolex Daytona', 1]
]
#Write code below
sales = {}
for row in lazada_sales:
    sales_volume = row[1]
    brand = row[0]
    if brand in sales:
        sales[brand] += sales_volume
    else:
        sales[brand] = sales_volume
        
print(sales)

{'Adidas Superboost': 9, 'Nike Zoom': 7, 'Rolex Submariner': 4, 'Rolex Daytona': 6}

### Extra Practice Questions

#### Question 1
Print the total score of `teachers` and `students` in `data`, broken down by occupation

<b>Expected Output:</b>
```
    {
        'student': 24, 
        'teacher': 4
    }
```

In [ ]:
data = {
    'kt': { 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    'eli': {'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    'vera': { 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    'syafiq': { 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    'may': { 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
    'agnes': { 'nric': 'S93250248', 'score': 2, 'occupation': 'student'},
}
total_score = {}
for k,v in data.items():
    job = v['occupation']
    score = v['score']
    if job in total_score:
        total_score[job] += score
    else:
        total_score[job] = score

#### Question 2
Print out the `name` and `nric` for each person in the dictionary

<b>Expected Output:</b>
```
    kt S93250888 
    eli S93250818
    vera S93250288 
    syafiq S93250218
    may S93250248
    agnes S93250248
```

In [56]:
data = {
    'kt': { 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    'eli': {'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    'vera': { 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    'syafiq': { 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    'may': { 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
    'agnes': { 'nric': 'S93250248', 'score': 2, 'occupation': 'student'},
}
#Write code below
for name,value in data.items():
    print(name)
    print(value['nric'])

kt
S93250888
eli
S93250818
vera
S93250288
syafiq
S93250218
may
S93250248
agnes
S93250248

#### Question 3
Print the total score of `teachers` and `students` in `data`, broken down by occupation

<b>Expected Output:</b>
```python
    {
        'student': 22, 
        'teacher': 4
    }
```

In [ ]:
data = [
    {'name': 'kt', 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    {'name': 'eli', 'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    {'name': 'vera', 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    {'name': 'may', 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    {'name': 'agnes', 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
]

#Write code below
scores = {}
for item in data:
    occupation = item['occupation']
    score = item['score']
    if occupation in scores:
        scores[occupation] += score
    else:
        score[occupation] = score

#### Question 4
Print the average score of teachers and students in data, broken down by occupation without using the default sum function

<b>Expected Output:</b>
```python
    {
        'student': 7.333333333333333, 
        'teacher': 2.0
    }
```

In [58]:
data = [
    {'name': 'kt', 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    {'name': 'john', 'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    {'name': 'henry', 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    {'name': 'mark', 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    {'name': 'mary', 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
]

#Write code below
scores = {}
for item in data:
    score = item['score']
    occupation = item['occupation']
    
    if occupation in scores:
        scores[occupation].append(score)
        
    else:
        scores[occupation] = [score]

print(scores)

{'student': [10, 5, 7], 'teacher': [2, 2]}

### Extra EXTRA Practice Questions

### Question 1:  Save the maiden

There is a maiden trapped in a deep dark dungeon. Rescue her by __printing__ her out!

```python
dungeon = [[[[[[[[[[[[[['maiden']]]]]]]]]]]]]]
```
<b>Expected output:</b>
    
    maiden

In [ ]:
dungeon = [[[[[[[[[[[[[['maiden']]]]]]]]]]]]]]

### Question 2: Print a christmas tree

For a given n, where n is **odd**, print out a christmas tree that looks like this

When **n**  = 3

&nbsp;&nbsp;\*<br>
&nbsp;\*\*\* <br>
\*\*\*\*\* <br>

When **n**  = 5

&nbsp;&nbsp;&nbsp;&nbsp;\*<br>
&nbsp;&nbsp;&nbsp;\*\*\* <br>
&nbsp;&nbsp;\*\*\*\*\* <br>
&nbsp;\*\*\*\*\*\*\* <br>
\*\*\*\*\*\*\*\*\* <br>

When **n** = 1 <br>

In [ ]:
n = 11

### Question 3: ABC## Triangle

For a given sequence of 'abcd...' etc, print out a triangle. Where if the triangle is incomplete due to the number of characters given, print  '#'

For example:
When seq = 'ab',
<br>
a <br>
b# <br>
 <br>
When seq = 'abcd',
<br>
a<br>
bc<br>
d##<br>
<br>
When seq = 'abcdef',
<br>
a<br>
bc<br>
def<br>