<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>

# <center> Hackwagon Academy: DS101 In-Class Practice Lesson 2 </center>
## <center> Collections </center>

<i>Prepared by @jonchewyl</i>

## Learning Objectives
1. More list functions
2. Tuples immutability
3. Dictionary functions
4. Know which collection to use depending on the context

### Recap

#### Programming Languages
Programming languages are just like many spoken languages and each have their own set of rules (syntax). So when speaking with a computer, we must adhere to the syntax otherwise your code won't work.

#### Variables & Data Types

|Use|Type|Example|
|---|---|---|
|Numbers|`int`,`float`|`int` - `5` <br> `float` - `5.0`|
|Text|`str`|`"Hackwagon"`|
|Yes/No|`bool`|`True` <br> `False`|
|Collection of Values|`list`|`[1,2,3,4]`|
|Collection of Values|`dict`|`{"a":1, "b":2}`|

<h4>Jupyter Notebook</h4>

In [ ]:
# Variable Names
example_list= [1,2,3,4]

# Data Types
type(example_list)

# Reserved Keywords
sum()
len()
print()

#### Functions of Data Types
Let's contextual data types and their functions. Imagine in the animal kingdom, each animal has their own set of functions and how is it that they use those functions. 

Same for programming, each data type are like an animal with their own set for functions.

How we use these functions is as follows: 
    
    <data type> . <function> ( <input if any> )

In [ ]:
#Append function
example_list = [1,2,3,4]
#LHS: list
example_list.append(5)

## Collections: Lists, Tuples & Dictionaries

Collections are data types that allow us to store many values in one single data type.

<hr></hr>

<h3> List Functions</h3>

We will now learn more list functions namely:
- `.append()`
- `.extend()`
- `.remove()`
- `del`
- `.sort()`

**By the end of these functions, we should achieve the following list**:

    data = [10, 9, 8, 3, 2, 1]

<hr></hr>

#### IN-CLASS EXAMPLE: LIST FUNCTIONS
##### `.append()`
The `.append()` function adds a <b>single</b> value to a list.

With the given `data` variable, let's use the `.append()` function to append `data2` to our `data` list.

    data = [1,2,3,4]
    data2 = [8,7,10,9]
    
<b>Expected output</b>: 
    
    [1,2,3,4,[8,7,10,9]]

In [29]:
#code below
data = [1,2,3,4]
data.append(5)

print(data)

[1, 2, 3, 4, 5]

##### `.extend()`
The `.extend()` function <b>unpacks</b> values in a list and appends them to another list.

With the given `data` variable, let's use the `.extend()` function to extend `data` with another list called `data2`.

    data = [1,2,3,4]
    data2 = [8,7,10,9]
    
<b>Expected output</b>: 
    
    [1,2,3,4,8,7,10,9]

In [27]:
#code below
data = [1,2,3,4]
data2 = [8,7,10,9]

print(data)

[1, 2, 3, 4]

##### `.remove()`
The `.remove()` function removes the very first instance of <b>a given value</b>, from left to right of the list; index 0 to the last index of a list.

Using the `.remove()` function, remove the number `4` from `data`.

<b>Expected output</b>: 
    
    [1,2,3,8,7,10,9]

In [ ]:
#code below
data = [1,2,3,4,8,7,10,9]

print(data)

##### `del`
The <font color='green'><b>del</b></font> function removes a value based on its <b>index</b> 

Using the <font color='green'><b>del</b></font> function, remove the number `7` from `data`.

<b>Expected output</b>: 
    
    [1,2,3,8,10,9]

In [ ]:
#code below
data = [1,2,3,8,7,10,9]

print(data)

##### `.sort()`
The `.sort()` function sorts values in a list in ascending order. 

Sort `data` in a <b>descending order</b> to get our final data list.

<b>Expected output</b> 
    
    [10, 9, 8, 3, 2, 1]

In [1]:
#code below
data = [1,2,3,8,10,9]
data.sort(reverse = True)
print(data)

[10, 9, 8, 3, 2, 1]

#### IN-CLASS PRACTICE: LIST FUNCTIONS

Complete the following questions to test your overall understanding on list functions:

1. Create 2 lists:
    
    `x` with numbers `10` and `20` <br>`y` with numbers `30` and `40`
    
    
2. Using `.append()`, add the 2 lists to a new list called `combi`
3. With the `del` function, remove both lists
4. Use the `.extend()` to extend `combi` with this `[50,30,79,25,35,22]`
5. Remove `30`
6. Sort `combi` in descending order

<b>Final Expected Output</b>:
```python  
    [79,50,35,25,22]
```

In [8]:
#Qns 1
x = [10,20]
y = [30,40]

#Qns 2
combi =[]
combi.append(x)
combi.append(y)
print(combi)

#Qns 3
del combi [:]
print(combi)

#Qns 4
combi.extend([50,30,79,25,35,22])
print(combi)

#Qns 5
del combi[1]
print(combi)

#Qns 6
combi.sort(reverse= False)
print(combi)

[[10, 20], [30, 40]]
[]
[50, 30, 79, 25, 35, 22]
[50, 79, 25, 35, 22]
[22, 25, 35, 50, 79]

<hr></hr>
<h3> Tuples </h3>

<b>Tuples</b> are just like <b>lists</b> but the only difference is that its' contents are <b>immutable</b>, meaning they cannot be altered in any way.

In [ ]:
# run this cell to see an error message
x = (1,2,3,4)
x[0] = 10    # << Error
x.append(4)  # << Error

<hr> </hr>
<h3> Dictionaries </h3>

We will now learn how to use a dictionary 
1. Create key-value pair
2. Updating key-value pair
3. Deleting key-value pair
4. Retrieving value from key-value piar
5. Get all the keys from a dictionary
6. Get all the key-value pairs from a dictionary
7. Check if key exists within a dictionary

<h4> IN-CLASS EXAMPLE: DICTIONARY FUNCTIONS </h4>
In this example below, we will go through a simple example of using dictionary as a database.

##### Creating key-value pair
You need to upload 2 new videos into your `all_videos_database`. Create a new key-value pairs with the following information:
    
|<center>Keys: Video Title</center>| <center>Values: Views</center> | 
|:---| :----------- |
|`"Despacito"`| `5500`|
|`"See You Again"`| `12500`|

<b> Expected output</b>:
    
    { 
        "Gangnam Style": 195000,
        "Despacito": 5500,
        "See You Again": 12500
    }

In [10]:
print("------ before ------")
all_videos_database = { 
    "Gangnam Style": 195000 
}
print(all_videos_database)
print("------  after ------")
#code below
all_videos_database['Despacito'] = 5500
all_videos_database['See You Again'] = 12500
print(all_videos_database)

------ before ------
{'Gangnam Style': 195000}
------  after ------
{'Gangnam Style': 195000, 'Despacito': 5500, 'See You Again': 12500}

##### Retrieving value from key-value pair
Vin Diesel wants to see how many views `See You Again` got.

<b>Expected Output</b>:

    12500

In [13]:
#code below
all_videos_database = { 
        "Gangnam Style": 195000,
        "Despacito": 5500,
        "See You Again": 12500
}

print(all_videos_database['See You Again'])

12500

##### Updating key-value pair
Alexa has kept playing `Despacito`. `Despacito` views has now <b>increased</b> by 100000.

<b>Expected Output</b>:

    { 
        "Gangnam Style": 195000,
        "Despacito": 105500,
        "See You Again": 12500
    }

In [14]:
print("------ before ------")
all_videos_database = { 
        "Gangnam Style": 195000,
        "Despacito": 5500,
        "See You Again": 12500
    }
print(all_videos_database)
print("------  after ------")
#code below
#manual
#all_videos_database['Despacito'] = 105500
#print(all_videos_database)
#straight away add 10k
all_videos_database['Despacito'] += 10000
print(all_videos_database)

------ before ------
{'Gangnam Style': 195000, 'Despacito': 5500, 'See You Again': 12500}
------  after ------
{'Gangnam Style': 195000, 'Despacito': 15500, 'See You Again': 12500}

##### Deleting key-value pair
`Gangnam Style` is now out of style. Remove it from our `all_videos_database`. Using the <font color='green'><b>del</b></font> function, remove the key `Gangnam Style` from `all_videos_database`.

<b>Expected Output</b>:

    { 
        "Despacito": 105500,
        "See You Again": 12500
    }

In [ ]:
print("------ before ------")
all_videos_database = { 
        "Gangnam Style": 195000,
        "Despacito": 105500,
        "See You Again": 12500
    }
print(all_videos_database)
print()
print("------  after ------")
#code below

del all_videos_database['Gangnam Style']
print(all_videos_database)
#dont use position in dictionaries

##### `.keys()`
Your boss wants to see all the <b>video titles</b> in the `all_videos_database`. 

<b>Expected Output</b>:

    Despacito
    See You Again

In [16]:
#code below
all_videos_database = { 
        "Despacito": 105500,
        "See You Again": 12500
}

print(list(all_videos_database.keys())) # list conversion

['Despacito', 'See You Again']

##### `.items()`
Your boss, couldn't make up his mind earlier, now he wants to see each <b>video title</b> and <b>the number of views</b> from your `all_videos_database`. 

<b>Expected Output</b>:

    Despacito has a total of 105500 views.
    See You Again has a total of 12500 views.

In [19]:
#code below
all_videos_database = { 
        "Despacito": 105500,
        "See You Again": 12500
}

video_list = list(all_videos_database.items())
despacito_info = video_list[0]
print(despacito_info[0])
print(video_list[0][0])

Despacito
Despacito

##### Check if key exists in dictionary
Some people are still living in the past. Check if `Gangnam Style` still exists within `all_videos_database`. 

<b>Expected Output</b>:
    
    False

In [18]:
#code below
all_videos_database = { 
        "Despacito": 105500,
        "See You Again": 12500
}

print('Gangnam Style' in all_videos_database)

False

#### IN-CLASS PRACTICE: DICTIONARY FUNCTIONS

Complete the following questions to test your overall understanding on list functions:

1. Create a new dictionary database called `my_class` as an empty dictionary
2. Add the following key-value pairs:

|<center>Keys</center>| <center>Values</center> | Type |
|:---| :----------- |---|
|`"Instructor"`| `"Your Instructor"`| `String` |
|`"TAs"`| `["TA1","TA2","TA3"]`| `List`|
|`"Students"`| 40 | `Int`|

3. Add a fourth TA to your database
4. Someone from another class has joined for make up. Update your database by 1 count

<b>Final Expected Output</b>:
```python
    {
        "Instructor": "Your Instructor",
        "TAs": ["TA1","TA2","TA3","TA4"]
        "Students": 41
    }
```

In [25]:
#Qns1
my_class = {}

#Qns2
my_class['Instructor'] = "Your Instructor"
my_class['TAs'] = ['TA1', 'TA2', 'TA3']
my_class['Students'] = 40
print(my_class)

#Qns3
my_class['TAs'] += ['TA4']
my_class['TAs'].append('TA4')

#Qns4
my_class['Students'] += 1 
print(my_class)

{'Instructor': 'Your Instructor', 'TAs': ['TA1', 'TA2', 'TA3'], 'Students': 40}
{'Instructor': 'Your Instructor', 'TAs': ['TA1', 'TA2', 'TA3', 'TA4'], 'Students': 41}

<h3> Real Life Application of Collections </h3>
<h4> IN-CLASS PRACTICE: EXTRACTING DATA FROM MIXED TYPES</h4>

Given the following list of historical three days video views data of two videos, find the engagement score of each video

<b>Expected output</b>: 

    despacito has a score of 0.15 
    im_yours has a score of 0.05

In [34]:
hist_video_views = [
    { 
        'video_title': 'despacito',
        'comments': 150,
        'views': 1000
    },
    { 
        'video_title': 'im yours',
        'comments': 100,
        'views': 2000
    }
]

engagement_despacito = hist_video_views[0]['comments']/ hist_video_views[0]['views']
engagement_im_yours = hist_video_views[1]['comments']/ hist_video_views[1]['views']
print('despacito has a score of ' + str(engagement_despacito))
print('im_yours has a score of ' + str(engagement_im_yours))

despacito has a score of 0.15
im_yours has a score of 0.05

<h3> <center> Important Collections Functions </center> </h3>
<h3> <center> Creation </center></h3>

|Collection Type | Function | Examples |
| ---------|---------|---------|
| `list` | <center>None</center>| `new_list = []` <br><br> `new_list = [1,2,3,4]` |
| `tuple`| <center>None</center>| `new_tuple = ()` <br><br> `new_tuple = (1,2,3,4)`|
| `dict` | <center>None</center>| `new_dict = {}` <br><br> `new_dict = {'a': 1, 'b':2}`|

<h3> <center> Add / Appending Data </center></h3>

|Collection Type | Functions | Examples | Resulting Output|
| ---------|---------|---------| ------ |
| `list` | <center>`.append()`</center>| `new_list = [1,2,3]` <br><br> `new_list.append(4)` | `[1,2,3,4]`|
| `list` | <center>`.extend()`</center>| `new_list = [1,2]` <br><br> `new_list.extend([3,4])` | `[1,2,3,4]`|
| `tuple`| <center>Cannot change structure at all</center>| Nil | Nil|
| `dict` | <center>None</center>| `new_dict = {}` <br><br> `new_dict['a'] = 1` <br><br> `new_dict['b'] = 2` | `{'a': 1, 'b':2}`|

<h3> <center> Updating / Changing Data </center></h3>

|Collection Type | Functions | Examples | Resulting Output|
| ---------|---------|---------| ------ |
| `list` | <center>None</center>| `new_list = [1,2,3]` <br><br> `new_list[0] = 5` | `[5,2,3]`|
| `tuple`| <center>Cannot change structure at all</center>| Nil | Nil|
| `dict` | <center>None</center>| `new_dict = {'a': 1, 'b':2}` <br><br> `new_dict['a'] = 10`| `{'a': 10, 'b':2}`|

<h3> <center> Accessing / Taking Out Data </center></h3>

|Collection Type | Functions | x to be| Examples |
| ---------|---------|---------| ------ |
| `list` | <center>None</center>| 3 |`new_list = [1,2,3]` <br><br> `x = new_list[2] `|
| `list of list` | <center>None</center>|3 |`new_list = [[1,2],[3,4]]` <br><br> `x = new_list[1][0] `|
| `list of dict` | <center>None</center>| 2 |`new_list = [{'a':1},{'b':2}]` <br><br> `x = new_list[1]['b'] `|
| `tuple`| <center>None</center>| 3 |`new_tuple = (1,2,3)` <br><br> `x = new_list[2] ` |
| `dict` | <center>None</center>| 2|`new_dict = {'a': 1, 'b':2}` <br><br> `x = new_dict['b']`|