<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>

<h1> <center> Hackwagon Academy: DS101 In-Class Practice Week 2 </center> </h1>
<h2><center> Collections</center></h2>
<h3>Learning Objectives</h3>
1. More list functions
2. Tuples immutability
3. Dictionary functions
4. Real life applications of collections
5. Know which collection to use depending on the context

## Collections: Lists, Tuples & Dictionaries
<hr>
### List Functions

We will now learn more list functions namely:
- `.extend()`
- `.remove()`
- `del`
- `.sort()`

**By the end of these 4 functions, we should achieve the following list**:

    data = [10, 9, 8, 3, 2, 1]

<hr>

#### IN-CLASS EXAMPLE: LIST FUNCTIONS
##### `.extend()`
The `.extend()` function <b>unpacks</b> values in a list and appends them to another list.

With the given `data` variable, let's use the `.extend()` function to extend `data` with another list called `data2`.

    data = [1,2,3,4]
    data2 = [8,7,10,9]
    
**Expected output**: 
    
    [1,2,3,4,8,7,10,9]

In [ ]:
#code below

print(data)

##### `.remove()`
The `.remove()` function removes the very first instance of <b>a given value</b>, from left to right of the list; index 0 to the last index of a list.

Using the `.remove()` function, remove the number `4` from `data`.

**Expected output**: 
    
    [1,2,3,8,7,10,9]

In [ ]:
#code below
data = [1,2,3,4,8,7,10,9]

print(data)

##### `del`
The <font color='green'><b>del</b></font> function removes a value based on its <b>index</b> 

Using the <font color='green'><b>del</b></font> function, remove the number `7` from `data`.

**Expected output**: 
    
    [1,2,3,8,10,9]

In [ ]:
#code below
data = [1,2,3,8,7,10,9]

print(data)

##### `.sort()`
The `.sort()` function sorts values in a list in ascending order. 

Sort `data` in a <b>descending order</b> to get our final data list.

**Expected output**: 
    
    [10, 9, 8, 3, 2, 1]

In [ ]:
#code below
data = [1,2,3,8,10,9]

print(data)

#### IN-CLASS PRACTICE: LIST FUNCTIONS

Complete the following questions to test your overall understanding on list functions:

1. Create 2 lists:
    
    `x` with numbers `10` and `20` <br>`y` with numbers `30` and `40`
    
    
2. Using `.append()`, add the 2 lists to a new list called `combi`
3. With the `del` function, remove both lists
4. Use the `.extend()` to extend `combi` with this `[50,30,79,25,35,22]`
5. Remove `30`
6. Sort `combi` in descending order

**Final Expected Output**:
```python  
    [79,50,35,25,22]
```

In [ ]:
#Qns 1


#Qns 2


#Qns 3


#Qns 4


#Qns 5


#Qns 6

<hr>
### Tuples
<b>Tuples</b> are just like <b>lists</b> but the only difference is that its' contents are <b>immutable</b>, meaning they cannot be altered in any way.

In [ ]:
# run this cell to see an error message
x = (1,2,3,4)
x[0] = 10    # << Error
x.append(4)  # << Error

#### IN-CLASS PRACTICE: TUPLES

Given the following `youtube_videos`, do the following:
1. Print all titles and views
2. Print the views of `im_yours`
3. Add a new video tuple of `gangnam_style` which has `8400` views into the list
4. Change `youtube_videos` to a tuple of tuples

In [ ]:
youtube_videos = [ 
    ('see_you_again', 5000), 
    ('im_yours', 3000) 
]
# write your code below
#qns1


#qns2


#qns3


#qns4

<hr>
### Dictionaries

We will now learn how to use a dictionary 
1. Create key-value pair
2. Updating key-value pair
3. Deleting key-value pair
4. Retrieving value from key-value piar
5. Get all the keys from a dictionary
6. Get all the key-value pairs from a dictionary
7. Check if key exists within a dictionary

#### IN-CLASS EXAMPLE: DICTIONARY FUNCTIONS
In this example below, we will through a simple example of using dictionary as a database.

**Run the cell below to begin**

In [ ]:
all_videos_database = { 
    "Gangnam Style": 195000 
}

##### Creating key-value pair
You need to upload 2 new videos into your `all_videos_database`. Create a new key-value pairs with the following information:
    
|<center>Keys: Video Title</center>| <center>Values: Views</center> | 
|:---| :----------- |
|`"Despacito"`| `5500`|
|`"See You Again"`| `12500`|

** Expected output**:
    
    { 
        "Gangnam Style": 195000,
        "Despacito": 5500,
        "See You Again": 12500
    }

In [ ]:
#code below

print(all_videos_database)

##### Updating key-value pair
Alexa has kept playing `Despacito`. `Despacito` views has now <b>increased</b> by 100000.

**Expected Output**:

    { 
        "Gangnam Style": 195000,
        "Despacito": 105500,
        "See You Again": 12500
    }

In [ ]:
#code below
all_videos_database = { 
    "Gangnam Style": 195000,
    "Despacito": 5500,
    "See You Again": 12500
}

print(all_videos_database)

##### Deleting key-value pair
`Gangnam Style` is now out of style. Remove it from our `all_videos_database`. Using the <font color='green'><b>del</b></font> function, remove the key `Gangnam Style` from `all_videos_database`.

**Expected Output**:

    { 
        "Despacito": 15500,
        "See You Again": 12500
    }

In [ ]:
#code below
all_videos_database = { 
    "Gangnam Style": 195000,
    "Despacito": 105500,
    "See You Again": 12500
}

print(all_videos_database)

##### Retrieving value from key-value pair
Vin Diesel wants to see how many views `See You Again` got.

**Expected Output**:

    12500

In [ ]:
#code below

print()

##### `.keys()`
Your boss wants to see all the <b>video titles</b> in the `all_videos_database`. 

**Expected Output**:

    Despacito
    See You Again

In [ ]:
#code below

print()

##### `.items()`
Your boss, couldn't make up his mind earlier, now he wants to see each <b>video title</b> and <b>the number of views</b> from your `all_videos_database`. 

**Expected Output**:

    Despacito has a total of 15500 views.
    See You Again has a total of 12500 views.

In [ ]:
#code below

print()

##### Check if key exists in dictionary
Some people are still living in the past. Check if `Gangnam Style` still exists within `all_videos_database`. 

**Expected Output**:
    
    False

In [ ]:
#code below

print()

#### IN-CLASS PRACTICE: DICTIONARY FUNCTIONS

Complete the following questions to test your overall understanding on list functions:

1. Create a new dictionary database called `my_class` as an empty dictionary
2. Add the following key-value pairs:

|<center>Keys</center>| <center>Values</center> | Type |
|:---| :----------- |---|
|`"Instructor"`| `"Your Instructor"`| `String` |
|`"TAs"`| `["TA1","TA2","TA3"]`| `List`|
|`"Students"`| 40 | `Int`|

3. Add a fourth TA to your database
4. Someone from another class has joined for make up. Update your database by 1 count
5. Print out everything you know about your database.

**Final Expected Output**:
```python
    {
        "Instructor": "Your Instructor",
        "TAs": ["TA1","TA2","TA3","TA4"]
        "Students": 41
    }
```

In [ ]:
#Qns1


#Qns2


#Qns3


#Qns4


#Qns5

<hr>
### Applications of Collections in Real Life

#### IN-CLASS PRACTICE: EXTRACTING DATA FROM MIXED TYPES

Given the following list of historical three days video views data of two videos, find the average views of each videos

**Expected output**: 

    despacito has 11633.33 views
    im_yours has 6000.00 views

In [ ]:
hist_video_views = [
    {
        'video_title': 'despacito',
        'all_views': [15000, 9800, 10100]
    },
    {
        'video_title': 'im_yours',
        'all_views': [2500, 1400, 14100]
    },
]

#code below

<hr>
### <center> Important Collections Functions </center>
### <center> Creation </center>
|Collection Type | Function | Examples |
| ---------|---------|---------|
| `list` | <center>None</center>| `new_list = []` <br><br> `new_list = [1,2,3,4]` |
| `tuple`| <center>None</center>| `new_tuple = ()` <br><br> `new_tuple = (1,2,3,4)`|
| `dict` | <center>None</center>| `new_dict = {}` <br><br> `new_dict = {'a': 1, 'b':2}`|
### <center> Add / Appending Data </center>
|Collection Type | Functions | Examples | Resulting Output|
| ---------|---------|---------| ------ |
| `list` | <center>`.append()`</center>| `new_list = [1,2,3]` <br><br> `new_list.append(4)` | `[1,2,3,4]`|
| `list` | <center>`.extend()`</center>| `new_list = [1,2]` <br><br> `new_list.extend([3,4])` | `[1,2,3,4]`|
| `tuple`| <center>Cannot change structure at all</center>| Nil | Nil|
| `dict` | <center>None</center>| `new_dict = {}` <br><br> `new_dict['a'] = 1` <br><br> `new_dict['b'] = 2` | `{'a': 1, 'b':2}`|
### <center> Updating / Changing Data </center>
|Collection Type | Functions | Examples | Resulting Output|
| ---------|---------|---------| ------ |
| `list` | <center>None</center>| `new_list = [1,2,3]` <br><br> `new_list[0] = 5` | `[5,2,3]`|
| `tuple`| <center>Cannot change structure at all</center>| Nil | Nil|
| `dict` | <center>None</center>| `new_dict = {'a': 1, 'b':2}` <br><br> `new_dict['a'] = 10`| `{'a': 10, 'b':2}`|
### <center> Accessing / Taking Out Data </center>
|Collection Type | Functions | x to be| Examples |
| ---------|---------|---------| ------ |
| `list` | <center>None</center>| 3 |`new_list = [1,2,3]` <br><br> `x = new_list[2] `|
| `list of list` | <center>None</center>|3 |`new_list = [[1,2],[3,4]]` <br><br> `x = new_list[1][0] `|
| `list of dict` | <center>None</center>| 2 |`new_list = [{'a':1},{'b':2}]` <br><br> `x = new_list[1]['b'] `|
| `tuple`| <center>None</center>| 3 |`new_tuple = (1,2,3)` <br><br> `x = new_list[2] ` |
| `dict` | <center>None</center>| 2|`new_dict = {'a': 1, 'b':2}` <br><br> `x = new_dict['b']`|