<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>
<h1> <center> Hackwagon Academy: DS101 In-Class Practice Week 4</center> </h1>
<h2> <center>Applied Iterations</center></h2>
<h2> Learning Objectives</h2>

1. Recap
2. Nested Loops
3. Applied Iterations
4. Counting With Dictionaries

In this chapter, we will use examples to recap the usage of basic iterations to manipulate data in a single list. We will then solve questions that requires us to apply the same concept to manipulate data in a nested list.

***A table of important collections functions is on the last part of this notebook for your use***

## Recap

### CITU Framework
1. <b>Create</b> the results container
2. <b>Iterate</b> the input data/list
3. <b>Test</b> conditions of each value
4. <b>Update</b> the results container when condition is fulfilled

If we want to recreate the `sum()` function, we will do the following steps.

In [ ]:
data = [3, -4, 12, 9, -72, 0, 15]
# Write code here
# 1. Create the result container
total = 0

# 2. Loop the data
for number in data:
    # 3. Test for condition
    # Nothing to test
    
    # 4. Update the results container
    # variable_to_update += value_to_add
    total += number

print(total)

### Practice 1
#### Question 1

Given the following `data`, store the numbers which are <b>negative</b> into a new list called `negatives`. 

**Expected Output:**
    
    [-4, -72]

In [ ]:
data = [3, -4, 12, 9, -72, 0, 15]
#Write code below

#### Question 2

Given the following `data`, find the list with the highest sum and store it as `highest`. 

**Expected Output:**
    
    [70,80,90]

In [ ]:
data_table = [[10,20,30],[70,80,90],[40,50,60]]
#Write code below

## Nested Loops
With a single loop, you can only access one row of data. With a loop inside the outer loop, we can access every data within that row of data. Let's look at an example here:

**Expected Output:**

    cnn
    fox_news
    exo
    snsd
    bigbang

In [ ]:
genre_channels = [['cnn','fox_news'],['exo','snsd','bigbang']]

### Practice 2
#### Question 1
Given the following `data`, collect all the negative numbers and put them in a new list called `negatives` :

**Expected Output:**
```
    [-4, -72, -5, -20, -42, -15, -4, -25]
```

In [ ]:
data = [
    [3, -4, 12, 9, -72, 0, 30],
    [-5, 4, -20, 9, -42, 0, -15],
    [3, -4, 12, 9, 72, -25, 15],
]
#Write code below

#### Question 2
Given the following `data`, print the following:

**Expected Output:**
```
    a
    e
    i
```

In [ ]:
data = [
    ["a","b","c"],
    ["d","e","f"],
    ["g","h","i"]
]
#Write code below

## Applied Iterations
Let's try and apply what we have learnt in the past 3 lessons to a real dataset. The following [dataset](https://data.gov.sg/dataset/graduates-from-university-first-degree-courses-by-type-of-course?view_id=fa0e401c-6251-4a15-aebc-a5f3d2c85752&resource_id=eb8b932c-503c-41e7-b513-114cffbe2338) is from Singapore Government's Open Data Portal, Data.gov.sg. 

When opening the file in Microsoft Excel, it will look like this:

<img src="https://i.imgur.com/M05Ta23.png" width="400">

<b>Make sure that the data file is in the same folder as your Jupyter Notebook</b>


When we execute the codes below, we will get a <b>list of many lists</b>, where <b>one inner list is a row of data</b>, that looks like this
```python
   [
       [ # Row 0
           1993, # Year - Index 0
           'Males',  # Sex - Index 1
           'Education',  # Type of Course - Index 2
           0 # No of Graduates - Index 3
       ],
       [ # Row 1
           1993, # Year - Index 0
           'Males', # Sex - Index 1
           'Applied Arts',  # Type of Course - Index 2
            0 # No of Graduates - Index 3
       ],
       [ # Row 2
           1993, # Year  - Index 0
           'Males', # Sex - Index 1
           'Humanities & Social Sciences',  # Type of Course - Index 2
           481# No of Graduates - Index 3
       ]
   ]

```
Run the cell below, we will learn more about opening a file in Week 6.

In [ ]:
import csv

with open('graduates-from-university-first-degree-courses-by-type-of-course.csv', encoding='utf-8') as file:
    #
    reader = csv.reader(file,delimiter=',')
    
    #skips column headers
    next(reader)
    
    #container to store all data
    all_courses = []
    
    # goes through every row
    for row in reader:
        # data cleaning 
        row[0] = int(row[0]) # Year Data is Cleaned to Int Type
        if row[3] == 'na': # Check for 'na'
            row[3] = 0
        else:
            row[3] = int(row[3]) # Change students to Int Type
        
        # add the row to the container
        all_courses.append(row)

# previews first 3 row    
all_courses[:3]

When handling any datasets, follow these important steps:

1. **Take out** the data we need based on the context
2. Based on the question, **apply** the necessary steps on the data you have taken out

Using what we've learnt over the past lessons, we're going to answer some basic questions about this dataset. For example:

**How many students applied for `Education` over the years?**

Based on this question, the variables we need are:
1. Type of Course
2. No. of Graduates

So the process for answering this question should be:

1. **Create** the result container
2. **Loop** the data
3. Take out the 2 variables **(most important step)**
4. **Test** the variables to see if they fit the condition
5. **Update** the result container

In [ ]:
# Write code here

### Practice 3
#### Question 1
Based on the following `all_courses`, answer the following question:

**How many `Females` students have taken `Law`?**

<i>Hint
1. What variables do you need?
2. What do you have to test for?
</i>

** Expected Output:**

    2574

In [ ]:
# Write code here

#### Question 2
Based on the following `all_courses`, answer the following question:

**How many students have taken `Information Technology` between `2000` and `2014`?**

<i>Hint
1. What variables do you need?
2. What do you have to test for?
</i>

** Expected Output:**

    9084

In [ ]:
# Write code here

## Counting With Dictionaries
**The following concept is extremely important**. The collections data types like List and Dictionaries helps us to store many values within a single data type. 

Dictionaries, however, provide us with the tools to aggregate data and store them. Take the following question as an example.

Given this `data`, to count the occurances of each letter, a dictionary would help us count each of these occurances.

**Expected Output:**
    
    {
        'a': 3,
        'b': 2,
        'c': 1
    }

In [ ]:
data = ['a','b','a','a','b','c']
# Write code below

### Practice 4
#### Question 1
Here we have a dataset of employee information. Count the number of `student` and `teacher` that occur.

**Expected Output:**

    {
        'student': 3,
        'teacher': 2,  
    }

In [ ]:
data = [
    {'name': 'kt', 'nric': 'S93250888', 'score': 10, 'occupation': 'student'},
    {'name': 'eli', 'nric': 'S93250818', 'score': 5, 'occupation': 'student'},
    {'name': 'vera', 'nric': 'S93250288', 'score': 2, 'occupation': 'teacher'},
    {'name': 'may', 'nric': 'S93250218', 'score': 7, 'occupation': 'student'},
    {'name': 'agnes', 'nric': 'S93250248', 'score': 2, 'occupation': 'teacher'},
]
#Write code below

#### Question 2
The 11-11 sales is coming, the ads are everywhere. Here we have a list of sales called `lazada_sales`, where each product (inner list): index 0 is the brand, index 1 is the sales made in a single day. This question is very similar to what you will be facing in your YouTube lab exercise.

Your task is to collate all the sales for each brand.

**Expected Output:**

    {'Adidas Superboost': 9,
     'Nike Zoom': 7,
     'Rolex Submariner': 4,
     'Rolex Daytona': 6}

In [ ]:
lazada_sales = [
    ['Adidas Superboost', 1],
    ['Nike Zoom', 1],
    ['Nike Zoom', 2],
    ['Nike Zoom', 1],
    ['Nike Zoom', 1],
    ['Adidas Superboost', 2],
    ['Nike Zoom', 1],
    ['Adidas Superboost', 1],
    ['Nike Zoom', 1],
    ['Adidas Superboost', 1],
    ['Adidas Superboost', 1],
    ['Adidas Superboost', 3],
    ['Rolex Submariner', 1],
    ['Rolex Submariner', 2],
    ['Rolex Submariner', 1],
    ['Rolex Daytona', 2],
    ['Rolex Daytona', 1],
    ['Rolex Daytona', 2],
    ['Rolex Daytona', 1]
]
#Write code below

### References

### <center> Important Collections Functions </center>
### <center> Creation </center>
|Collection Type | Function | Examples |
| ---------|---------|---------|
| `list` | <center>None</center>| `new_list = []` <br><br> `new_list = [1,2,3,4]` |
| `dict` | <center>None</center>| `new_dict = {}` <br><br> `new_dict = {'a': 1, 'b':2}`|

### <center> Add / Appending Data </center>
|Collection Type | Functions | Examples | Resulting Output|
| ---------|---------|---------| ------ |
| `list` | <center>`.append()`</center>| `new_list = [1,2,3]` <br><br> `new_list.append(4)` | `[1,2,3,4]`|
| `list` | <center>`.extend()`</center>| `new_list = [1,2]` <br><br> `new_list.extend([3,4])` | `[1,2,3,4]`|
| `dict` | <center>None</center>| `new_dict = {}` <br><br> `new_dict['a'] = 1` <br><br> `new_dict['b'] = 2` | `{'a': 1, 'b':2}`|

### <center> Updating / Changing Data </center>
|Collection Type | Functions | Examples | Resulting Output|
| ---------|---------|---------| ------ |
| `list` | <center>None</center>| `new_list = [1,2,3]` <br><br> `new_list[0] = 5` | `[5,2,3]`|
| `dict` | <center>None</center>| `new_dict = {'a': 1, 'b':2}` <br><br> `new_dict['a'] = 10`| `{'a': 10, 'b':2}`|

### <center> Accessing / Taking Out Data </center>
|Collection Type | Functions | x to be| Examples |
| ---------|---------|---------| ------ |
| `list` | <center>None</center>| 3 |`new_list = [1,2,3]` <br><br> `x = new_list[2] `|
| `list of list` | <center>None</center>|3 |`new_list = [[1,2],[3,4]]` <br><br> `x = new_list[1][0] `|
| `list of dict` | <center>None</center>| 2 |`new_list = [{'a':1},{'b':2}]` <br><br> `x = new_list[1]['b'] `|
| `dict` | <center>None</center>| 2|`new_dict = {'a': 1, 'b':2}` <br><br> `x = new_dict['b']`|